$gray: #F8F9FA;

.flat-form {
  background: $gray;
  padding: 24px;
  border-radius: 4px;
}

.flat-form h1 {
  padding-right: 1.5em;
}

.form-submit-btn {
  margin-top: 8px;
}

body {
  background: white;
}
