.banner {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.flat-details {
  margin-right: 48px;
  margin-left: 48px;
  margin-top: -75px;
}

.list-flat-details {
  height: 140px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  background: #bbbbbb;
  padding: 4px 8px;
  color: black;
}

.flat-book-card {
  background: $light-gray;
  padding: 24px 32px;
  width: 25%;
  margin-right: 24px;
  margin-top: -75px;
  height: 400px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.my-container {
  margin-top: -75px;
  display: flex;
  justify-content: space-around;
}

.submit-btn {
  margin-top: 24px;
}
