<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <h1>Add a new flat</h1>
      <div class="flat-form">
        <%= render 'form', flat: @flat %>
      </div>
      <%= link_to 'back', flats_path %>
    </div>
  </div>
</div>
